<%= simple_form_for @drama, html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :num_of_chapter %>
  <%= f.input :actors %>
  <%= f.input :rating %>
  <%= f.input :image, as: :file %>
  <br/>
  <div class="row">
    <%= link_to "Cancel", root_path, class: "btn btn-default" %>
    <%= f.button :submit, disable_with: "Submiting...", class: "btn btn-primary" %>
  </div>
<% end %>

