<%= image_tag @drama.image.url(:medium) %>
<p>
  Submitted by <%= @drama.user.email %>
  <%= time_ago_in_words(@drama.created_at) %> ago
</p>
<h1><%= @drama.title %></h1>
<p><%= @drama.description %></p>
<p><%= @drama.num_of_chapter %></p>
<p><%= @drama.actors %></p>
<p><%= @drama.rating %></p>


<%= link_to "Edit", edit_drama_path(@drama) %>
<%= link_to "Delete", drama_path(@drama), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Home", root_path %>
