<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag @drama.image.url(:medium) %>

        <div class="post_time_user">
          <strong>Peer Rating:</strong> <span class="star-rating" data-score=<%= @avg_rating %> ></span>
          <div class="pull-right">
          Posted by
          <span class="show_user" ><%= @drama.user.name %></span>
          </div>
        </div>
        <h2 id="show_title"><span class="label label-success"><%= @drama.title %></span></h2>
        <p><strong>Description:</strong> <%= simple_format(@drama.description) %></p>
        <p><strong>Number of Chapter:</strong> <%= @drama.num_of_chapter %></p>
        <p><strong>Actors:</strong> <%= @drama.actors %></p>
        <p><strong>Rating:</strong> <%= @drama.rating %></p>
      </div>

      <div id="reviews" class="col-md-5 col-md-offset-2">
        <div class="row" id="reviews_header">
          <h3>User Reviews
          <%= link_to "Write new comment", new_drama_comment_path(@drama), class: "btn btn-info pull-right" %>
          </h3>
        </div>

        <% if !@comments.blank? %>
          <%= render partial: 'comment_list', collection: @comments, as: :comment %>
        <% else %>
          <h4>No comment in this yet. Be the first one!</h4>
        <% end %>
      </div>
    </div>
    <% if is_drama_owner?(current_user) %>
      <%= render 'drama_owner_actions' %>
    <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: "/images/",
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
