<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag @drama.image.url(:medium) %>
        <p class="post_time_user">
          Posted by
          <span class="show_user" ><%= @drama.user.email %></span>
          <%= time_ago_in_words(@drama.created_at) %> ago
        </p>
        <h1><%= @drama.title %></h1>
        <p><strong>Description:</strong> <%= simple_format(@drama.description) %></p>
        <p><strong>Number of Chapter:</strong> <%= @drama.num_of_chapter %></p>
        <p><strong>Actors:</strong> <%= @drama.actors %></p>
        <p><strong>Rating:</strong> <%= @drama.rating %></p>
        <p><strong>Peer Rating:</strong> <span class="star-rating" data-score=<%= @avg_rating %> ></span></p>
      </div>

      <div id="reviews" class="col-md-5 col-md-offset-2">
        <div class="row" id="reviews_header">
          <h3>User Reviews
          <%= link_to "Write new comment", new_drama_comment_path(@drama), class: "btn btn-info pull-right" %>
          </h3>
        </div>

        <% if !@comments.blank? %>
          <% @comments.each do |comment| %>
            <div class="review" id="<%= comment.id %>">
              <%= simple_format(comment.content) %>
              <div class="star-rating" data-score=<%= comment.rating %> ></div>
              <p>
                By <span class="show_user"> <%= comment.user.email %></span>
                <%= time_ago_in_words(comment.created_at) %> ago
              </p>
            </div>
            <hr/>
          <% end %>
        <% else %>
          <h4>No comment in this yet. Be the first one!</h4>
        <% end %>

      </div>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to "Edit", edit_drama_path(@drama), class: "btn btn-default", type: "button" %>
      <%= link_to "Delete", drama_path(@drama), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default", type: "button" %>
    </div>

  </div>
</div>

<script>
  $('.star-rating').raty({
    path: "/assets/",
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
