<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag @drama.image.url(:medium) %>
        <p class="post_time_user">
          Posted by
          <span class="show_user" ><%= @drama.user.email %></span>
          <%= time_ago_in_words(@drama.created_at) %> ago
        </p>
        <h1><%= @drama.title %></h1>
        <p><strong>Description:</strong> <%= simple_format(@drama.description) %></p>
        <p><strong>Number of Chapter:</strong> <%= @drama.num_of_chapter %></p>
        <p><strong>Actors:</strong> <%= @drama.actors %></p>
        <p><strong>Rating:</strong> <%= @drama.rating %></p>
      </div>

      <div id="reviews" class="col-md-5 col-md-offset-2">
        <h3>User Reviews</h3>
        <%= link_to "Write new comment", new_drama_comment_path(@drama), class: "btn btn-info" %>

        <% if !@comments.blank? %>
          <% @comments.each do |comment| %>
            <div class="review">
              <%= simple_format(comment.content) %>
              Rating: <%= comment.rating %>
              <p>
                By User,
                <%= time_ago_in_words(comment.created_at) %> ago
              </p>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to "Edit", edit_drama_path(@drama), class: "btn btn-default", type: "button" %>
      <%= link_to "Delete", drama_path(@drama), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default", type: "button" %>
    </div>

  </div>
</div>
