<%= simple_form_for [@drama, @comment] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <div class="row">
    <%= link_to 'Cancel', drama_path(@drama), class: "btn btn-default" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
