<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="<%= root_path %>" class="navbar-brand">DramaTalk</a>
    </div>
    <div class="collapse navbar-collapse">
      <%= form_tag search_dramas_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
        </div>
        <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      <% end %>

      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li class="active"><%= link_to "New Drama", new_drama_path %></li>
          <li><%= link_to "Account", edit_user_registration_path(current_user) %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
